chatgpt:
  token: your chatgpt apiKey
  wechat: "true"
  wechat_keyword: chatgpt
  openai_text_model: "gpt-3.5-turbo"
  #telegram: your telegram token
  #tgWhitelist: username1,username2
  #tgKeyword: chatgpt
